body{
    background-image: url("https://yt3.ggpht.com/a-/AN66SAwCVkXmv1eIkUb95CYGthNRQLiwd_-qKibzTQ=s900-mo-c-c0xffffffff-rj-k-no");
    color:green;
    
    }
   #header {
        color:blue;
        }
        
        